<ul class="nav nav-stacked">
    <li>
        <a href="#" title="Legal Notice">Контакты</a>
    </li>
    <li>
        <a href="#" title="Legal Notice">Социальные сети</a>
    </li>
    <li>
        <a href="#" title="Legal Notice">Рекомендованные сайты</a>
    </li>
</ul>
